asteval==0.9.13
future==0.17.1
h5py==2.9.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
lmfit==0.9.13
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
nb-conda==2.2.1
nb-conda-kernels==2.2.0
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.2
opencv-python==4.0.0.21
pickleshare==0.7.5
scipy==1.2.1
tensorboard==1.13.1
tensorflow==2.7.2
tensorflow-estimator==1.13.0
wurlitzer==1.0.2
